.bouton{
    text-align: center;
    padding: 20px;
    color: greenyellow;
}

.contenu {
    display: flex;
    justify-content: space-around;
}
#article01 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
#article02 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
#article03 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.titre {
    display: flex;
    justify-content: center;
}

#reseau{
    display: flex;
    align-self: flex-end;
    order: 2
}
