h1{text-align: center;
}
#carouselcontainer div{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.carousel{
    text-align: center;
    
}
.carousel-indicators{
    margin-bottom: 0;
}
p{color: white;}
h1{color: white;}

body{background-image: url('../image/custo/sneaker3.png');
background-image: ;
}

#bckgd{
    position:absolute;
    opacity:0.5;}
p{text-align: justify;}
