h1{text-align: center;
}
#carouselcontainer div{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.carousel{
    text-align: center;
    
}
.carousel-indicators{
    margin-bottom: 0;
}

h1{
    color: white;
}

#pres{
    text-align: justify;
    text-align: center;
    color: rgb(255, 254, 254);
    font-weight: bolder;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    background-color: black;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    

   }


.artistbutton{
    font-family:'Gobelin' ;
    color: black;
    background-color: #ff43b4;
}

.artistbutton:hover{
    background-color: chartreuse;
    box-shadow:#ff43b4;
}