h1{text-align: center;
}
#carouselcontainer div{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.carousel{
    text-align: center;
    
}
.carousel-indicators{
    margin-bottom: 0;
}

h1{
    color: white;
}

#pres{
    text-align: justify;
    text-align: center;
    color: rgb(255, 254, 254);
   }
.bibtn{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
}
